body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
  padding-top: 60px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background: #2563eb;
  color: white;
}

button:disabled {
  background: gray;
}

input {
  padding: 8px;
  font-size: 16px;
  margin-top: 10px;
}
.card {
  background: #020617;
  padding: 30px;
  width: 300px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}
